h1{
    /* text-shadow:3px 3px 3px red;  */
    text-shadow:3px 3px 3px red , 50px 5px 5px green; 

    /* multiple shadows */
}
 
.box{
    background-color:aqua;
    width:200px;
    height:200px;
    color:red;
    box-shadow: -10px -10px 15px 20px green, 15px 15px 15px brown;
}